@import "/assets/scss/fonts.scss";

body {
  font-size: 2rem;
  margin: 0;
  height: 150vh;
}

h1 {
  font-family: "Sora", serif;
  font-weight: 300;
  color: black;
}

p {
  font-family: "Sora", serif;
  font-variation-settings: "wght" 400;
  margin: 0;
  & > a {
    font-size: 2rem;
  }
}

a {
  font-family: "Sora", serif;
  font-size: 0.875rem;
}
