body {
  font-size: 2rem;
  margin: 0;
  height: 150vh;
}

p {
  font-family: 'Sora', serif;
  font-variation-settings: 'wght' 400;
  margin: 0;
}
a {
  font-family: 'Sora', serif;
  font-size: 0.875rem;
} 